Repository gql-dart/gql, pull requests merged in 2020-02, with the labels that each got.

#45 improve multipack
  multipack/lib/commands/common.dart
  multipack/lib/commands/pubspec.dart
  multipack/lib/commands/pubspec/common.dart
  multipack/lib/commands/pubspec/hard_override.dart
  multipack/lib/commands/pubspec/override.dart
  multipack/pubspec.yaml
Labels: package/multipack

#44 add dart analysis to workflow
  .github/actions/dart-test/entrypoint.sh
  .github/workflows/dart-test.yml
  .github/workflows/dart.yml
  gql_code_builder/lib/src/operation/data.dart
  gql_code_builder/pubspec.yaml
Labels: package/gql_code_builder, package/gql_pedantic, package/multipack

#49 Update gql_code_builder dependency
  gql_build/pubspec.yaml
Labels: package/gql_build

#46 Pedantic next
  gql/example/add_typenames.dart
  gql/example/visit_types.dart
  gql/lib/src/ast/ast.dart
  gql/lib/src/ast/visitor.dart
  gql/lib/src/validation/rules/lone_schema_definition.dart
  gql/lib/src/validation/rules/unique_directive_names.dart
  gql/lib/src/validation/rules/unique_enum_value_names.dart
  gql/lib/src/validation/rules/unique_field_definition_names.dart
  gql/lib/src/validation/rules/unique_operation_types.dart
  gql/test/scenarios_test.dart
  gql_build/lib/src/fragment_builder.dart
  gql_code_builder/lib/src/operation/data.dart
  gql_dedupe_link/test/gql_dedupe_link_test.dart
  gql_pedantic/CHANGELOG.md
  gql_pedantic/lib/analysis_options.yaml
  gql_pedantic/pubspec.yaml
  multipack/bin/main.dart
Labels: package/gql, package/gql_build, package/gql_code_builder, package/gql_dedupe_link, package/gql_pedantic, package/multipack

#50 improve readme
  gql/CHANGELOG.md
  gql/README.md
  gql/example/add_typenames.dart
  gql/example/parse.dart
  gql/example/visit_types.dart
  gql/lib/src/type_system/type.dart
  gql/pubspec.yaml
Labels: package/gql

#52 implement SourceNode
  gql_build/lib/src/ast_builder.dart
  gql_build/lib/src/data_builder.dart
  gql_build/lib/src/enum_builder.dart
  gql_build/lib/src/fragment_builder.dart
  gql_build/lib/src/input_builder.dart
  gql_build/lib/src/op_builder.dart
  gql_build/lib/src/req_builder.dart
  gql_build/lib/src/scalar_builder.dart
  gql_build/lib/src/schema_builder.dart
  gql_build/lib/src/utils/reader.dart
  gql_build/lib/src/var_builder.dart
  gql_code_builder/lib/source.dart
Labels: package/gql_build, package/gql_code_builder

#53 use SourceNode in AST builder
  gql_build/lib/src/ast_builder.dart
  gql_build/lib/src/utils/writer.dart
  gql_code_builder/lib/ast.dart
  gql_code_builder/lib/source.dart
  gql_example_cli/lib/find_pokemon.ast.gql.dart
  gql_example_flutter/lib/src/all_pokemon/all_pokemon.ast.gql.dart
  gql_example_flutter/lib/src/pokemon_detail/pokemon_detail.ast.gql.dart
Labels: package/gql_build, package/gql_code_builder, package/gql_example_cli, package/gql_example_flutter

#54 flatten source node at code builder
  gql_build/lib/src/data_builder.dart
  gql_build/lib/src/enum_builder.dart
  gql_build/lib/src/fragment_builder.dart
  gql_build/lib/src/input_builder.dart
  gql_build/lib/src/op_builder.dart
  gql_build/lib/src/req_builder.dart
  gql_build/lib/src/scalar_builder.dart
  gql_build/lib/src/schema_builder.dart
  gql_build/lib/src/var_builder.dart
  gql_code_builder/lib/data.dart
  gql_code_builder/lib/enum.dart
  gql_code_builder/lib/fragment.dart
  gql_code_builder/lib/input.dart
  gql_code_builder/lib/op.dart
  gql_code_builder/lib/req.dart
  gql_code_builder/lib/scalar.dart
  gql_code_builder/lib/schema.dart
  gql_code_builder/lib/var.dart
Labels: package/gql_build, package/gql_code_builder
